:root {
    /*fonts*/
    --font-main: 'Lato', sans-serif;
    --font-add: 'Raleway', sans-serif;
    /*theme colors*/
    --color-main: #01996D;
    --color-nav: #292929;
    --color-text: #484848;
    --color-text-how: #424242;
    --color-bg: #245852;
    --color-border: #D6D6D6;
    /*conts colors*/
    --color-black: #000;
    --color-white: #fff;
    /*radius*/
    --b-radius: 12px;
    --b-radius-btn: 4px;
}
/*Globaly*/
* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: var(--font-main);
}

p {
    margin: 0;
}

.container {
    max-width: 1547px;
    padding: 0 20px;
    width: 100%;
    margin-inline: auto;
}

.pd-x {
    padding-left: 60px;
    padding-right: 60px;
}

.title-primary {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 65px;
    line-height: 74px;
    color: var(--color-main);
}

.title-secondary {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);
}

.title-secondary.title-secondary_white {
    color: var(--color-white);
}

.text-primary {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: var(--color-text);
}

.text-secondary {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-text-how);
}

/*Globaly End*/

/*Header*/

.header {
    background: var(--color-white);
    padding: 25px 0;
    border-bottom: 1px solid var(--color-border);
}

.header__wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header__buttons {
    display: flex;
    gap: 35px;
    align-items: center;
}

.nav__ul {
    display: flex;
    align-items: center;
    gap: 72px;
    margin: 0;
}

.nav__li {
    list-style: none;
}

.nav__a {
    text-decoration: none;
    color: var(--color-nav);
    font-weight: 500;
    font-size: 20px;
    line-height: 25px;
}

.btn {
    display: inline-block;
    border: 0;
    outline: 0;
    text-decoration: none;
    border-radius: var(--b-radius-btn);
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 25px;
    cursor: pointer;
}

.btn_link {
    color: var(--color-black);
}

.btn_primary {
    padding: 13px 50px;
    background: var(--color-main);
    border: 1px solid var(--color-main);
    color: var(--color-white);
}

/*Header End*/

/*Main-Screen*/

.main-screen {
    height: 100vh;
    margin-bottom: 170px;
}

.main-screen__wrapper {
    display: flex;
    height: 100%;
    position: relative;
}

.main-screen__info {
    flex: 0 1 440px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    z-index: 2;
}

.main-screen__title {
    margin-bottom: 30px;
}

.main-screen__desc {
    margin-bottom: 53px;
}

.main-screen__image {
    position: absolute;
    right: 0;
    z-index: 1;
}

.main-screen__btn {
    padding: 20px 50px 20px 50px;
}

/*Main-Screen End*/

/*How*/

.how {
    padding-bottom: 393px;
}

.how-header {
    display: grid;
    grid-template-areas: "title title"
                         "word desc";
    column-gap: 136px;
    margin-bottom: 81px;
}

.how-header__title {
    grid-area: title;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 24px;
    line-height: 157%;
    color: var(--color-text-how);
}

.how-header__word {
    grid-area: word;
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    max-width: 584px;
    color: var(--color-main);
}

.how-header__desc {
    grid-area: desc;
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    max-width: 671px;
    color: var(--color-text-how);
}

/*How End*/

/*Step*/

.how-steps {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 66px;
}

.step {
    display: flex;
    flex-direction: column;
}

.step_title {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 30px;
    line-height: 150%;
    color: var(--color-black);
    margin-bottom: 21px;
}

.step__desc {
    font-family: var(--font-main);
    font-weight: 500;
    font-size: 20px;
    line-height: 150%;
    color: var(--color-text-how);
    margin-bottom: 66px;
    max-width: 390px;
    flex-grow: 1;
}

.step__img {
    max-width: 392px;
    width: 100%;
}

.step__img img {
    max-width: 100%;
}

/*Step End*/

/*Story*/

.story {
    background: var(--color-bg);
    padding: 229px 20px 176px 20px;
}

.story__wrapper {
    display: flex;
    gap: 60px;
    align-items: center;
}

.story__info {
    flex: 0 1 580px;
}

.story__title {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-white);
    margin-bottom: 33px;
}

.story__desc {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--color-white);
    margin-bottom: 57px;
}

.story__btn a {
    padding: 20px 50px 20px 50px;
}

.story__video {
    border: 1px solid transparent;
    max-width: 100%;
    cursor: pointer;
}

/*Story end*/

/*Product*/

.product {
    padding: 120px 20px 242px 20px;
}

.pruduct__wrapper {
    display: flex;
    gap: 86px;
}

.product__img img {
    max-width: 100%;
}

.product__info {
    flex: 0 1 584px;
}

.product__title {
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 25px;
    line-height: 157%;
    color: var(--color-text-how);
    margin-bottom: 10px;
}

.product__word {
    font-family: var(--font-add);
    font-weight: 700;
    font-size: 50px;
    line-height: 157%;
    color: var(--color-main);
    margin-bottom: 20px;
}

.product__desc {
    font-family: var(--font-main);
    font-weight: 400;
    font-size: 20px;
    line-height: 31px;
    color: var(--color-text);
    margin-bottom: 40px;
}

.product__btn a {
    padding: 20px 50px 20px 50px;
}

/*Product End*/

/*Footer*/

.footer {
    background: var(--color-bg);
    padding: 95px 0 83px 0;
}

.footer__wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__ul {
    padding: 0;
    display: flex;
    gap: 60px;
}

.footer__li {
    list-style: none;
}

.footer__a {
    text-decoration: none;
    font-family: var(--font-main);
    font-weight: 600;
    font-size: 25px;
    line-height: 30px;
    color: var(--color-white);
}

/*Footer End*/


/*Breakpoint XL*/

@media (max-width:1200px) {
    /*Header*/
    .header__nav {
        display: none;
    }
    .header>.container>.pd-x {
        padding-left: 20px;
        padding-right: 20px;
    }
    /*Main-Screen*/
    .main-screen__title, .main-screen__desc {
        background-color: rgba(225, 225, 225, 0.5);
        padding: 7px;
        border-radius: var(--b-radius);
    }
    .main-screen__image, .main-screen__image img {
        max-width: 100%;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .main-screen {
        margin-bottom: 50px;
    }
    /*How*/
    .how-header {
        grid-template-areas: "title"
                             "word"
                             "desc";
    }
    .how-header__word {
        margin-bottom: 20px;
    }
    .how-steps {
        grid-template-columns: 1fr;
    }
    .how-header__desc {
        max-width: 100%;
    }
    .how {
        margin-top: 50px;
        padding-bottom: 150px;
    }
    .step__desc {
        max-width: 100%;
    }
    .step__img {
        max-width: 100%;
    }
    .step__img img {
        width: 100%;
        max-height: 370px;
        object-fit: cover;
        border-radius: var(--b-radius);
    }
    /*Story*/
    .story {
        padding: 159px 20px 126px 20px;
    }
    .story__wrapper {
        flex-direction: column;
    }
    .story__info {
        flex: 1 1 100%;
    }
    .story__video {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: var(--b-radius);
    }
    /*Product*/
    .product {
        padding: 80px 20px 100px 20px;
    }
    .pruduct__wrapper {
        flex-direction: column;
    }
    .product__info {
        flex: 1 1 100%;
    }
    .product__img img {
        width: 100%;
        height: 450px;
        object-fit: cover;
        border-radius: var(--b-radius);
    }
    /*Footer*/
    .footer {
        padding-top: 70px;
        padding-bottom: 50px;
    }
    .footer__wrapper {
        flex-direction: column;
        gap: 50px;
    }
    .footer__ul {
        flex-wrap: wrap;
        justify-content: center;
        text-align: center;
    }
    .footer__a {
        font-weight: 400;
    }
}
@media (max-width:540px){
    .header__buttons {
        display: none;
    }
    .story__wrapper, .pruduct__wrapper {
        text-align: center;
    }
    .btn, .product__btn a {
        margin: 0 auto;
        justify-content: center;
        text-align: center;
        align-items: center;
    }
    
}